.primary_header_wrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1650px;
  .gnbmenu_list_wrap {
    flex: 1;
  }
  .gnbmenu_list_wrap {
    .gnbmenu_hover_bg {
      &:before {
        flex: 0 0 62.5px;
        background: url("../images/bg_gnb_main_slice_left.png") no-repeat 0 0/62.5px
          100px;
      }
      &:after {
        flex: 1;
        background: url("../images/bg_gnb_main_slice_right.png") no-repeat 100%
          0 / auto 100%;
      }
    }
    .gnbmenu_list {
      > li {
        position: relative;
        &:after {
          display: block;
          content: "";
          width: 1px;
          height: 33px;
          background: #659aff;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
        &:last-of-type {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
.toplogo_primary {
  flex: 0 0 210px;
  position: relative;
  left: 50px;
  z-index: 1;
  background: url("../images/bg_mainlogo.png") no-repeat 0 100% / auto 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  &:after {
    position: absolute;
    top: 0;
    left: 60px;
    background: #063286;
    width: 50vw;
    height: 67px;
    display: block;
    content: "";
  }
}
.toplogo_primary_item {
  display: inline-block;
  position: relative;
  z-index: 2;
  > img {
    max-width: 106px;
  }
}

.gnbmenu_primary_list_wrap {
  .gnbmenu_list_wrap {
  }
}

.gnbmenu_ad_banner {
  flex: 0 0 210px;
  position: relative;
  left: -50px;
  display: block;
  cursor: pointer;
  z-index: 1;
  background: url("../images/bg_main_add.png") no-repeat 100% 100% / auto 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  &:after {
    position: absolute;
    top: 0;
    right: 60px;
    background: #e51f3f;
    width: 50vw;
    height: 67px;
    display: block;
    content: "";
  }
}
.ad_banner_group {
  text-align: center;
  position: relative;
  z-index: 2;
}
.ad_banner_sub {
  color: #fcd11d;
  line-height: 1;
  font-family: "GmarketSansMedium";
  font-size: 12px;
}
.ad_banner_main {
  font-family: "GmarketSansBold";
  font-size: 16px;
  color: #fff;
  margin-top: 3px;
  line-height: 1;
}

.main_contents_zone {
}
.main_vitem {
  position: relative;
  &:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 92px;
    height: 83px;
    background: url("../images/mc_corner_top_01.png") no-repeat 0 0;
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 92px;
    height: 84px;
    background: url("../images/mc_corner_bottom_01.png") no-repeat 0 0;
  }
  &.define_mv01:after {
    display: none;
  }
  &:first-of-type {
    &:after {
      display: none;
    }
  }
  &:last-of-type {
    &:before {
      display: none;
    }
  }
  &.define_primary {
    // background: url("../images/bg_main_mv.jpg") no-repeat 50% 100% / cover;
  }
  &.define_mv01 {
    background: #0a2e71 url("../images/bg_mvitem_01.png") no-repeat 50% 50%;
    &:before {
      background-image: url("../images/mc_corner_top_02.png");
    }
    &:after {
      background-image: url("../images/mc_corner_bottom_01.png");
    }
  }
  &.define_mv02 {
    background: #f2d798 url("../images/bg_mvitem_02.png") no-repeat 50% 50%;
    &:before {
      background-image: url("../images/mc_corner_top_03.png");
    }
    &:after {
      background-image: url("../images/mc_corner_bottom_02.png");
    }
  }
  &.define_mv03 {
    background: #24d6b2 url("../images/bg_mvitem_03.png") no-repeat 50% 50%;
    &:before {
      background-image: url("../images/mc_corner_top_04.png");
    }
    &:after {
      background-image: url("../images/mc_corner_bottom_03.png");
    }
  }
  &.define_mv04 {
    background: #ffc70d url("../images/bg_mvitem_04.png") no-repeat 50% 50%;
    &:before {
      background-image: url("../images/mc_corner_top_05.png");
    }
    &:after {
      background-image: url("../images/mc_corner_bottom_04.png");
    }
  }
  &.define_mv05 {
    background: #faf8f8 url("../images/bg_mvitem_05.png") no-repeat 50% 100%;
    &:before {
      background-image: url("../images/mc_corner_top_06.png");
    }
    &:after {
      background-image: url("../images/mc_corner_bottom_05.png");
    }
  }
  &.define_mv06 {
    background: #4387b9;
    &:after {
      background-image: url("../images/mc_corner_bottom_06.png");
    }
    .copy_group {
    }
    .copy_main {
      strong {
      }
    }
  }
}
.vitem_logo_row {
}
.data_get_wrap {
}
.btn_data_get_control {
  &.prev {
  }
  &.next {
  }
}
.swiper-container.main-visual-container {
  .swiper-wrapper {
  }
  .swiper-slide {
  }
}
.data_get_box {
}
.data_get_category {
}
.data_get_category:before {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 100%;
}
.data_get_category_text {
  display: block;
  font-size: 17px;
  margin-top: 5px;
  color: #fff;
}
// .data_get_text{font-size:22px;color:#fff;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.data_get_btn {
}
.btn_golink {
  &:after {
  }
}
.golink_text {
}

.vitem_inner {
  .pc_item.main {
    height: calc(100vh - 100px);
    // 배경 비디오
    .background-video {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }
  }
}

.bottom_banner_wrap {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  padding: 0 30px 0;
  text-align: center;
}

.bottom_long_banner {
  display: inline-block;
}
.bottom_long_banner img {
  vertical-align: top;
}

.bottom_banner_wrap.type2 {
  text-align: center;
  display: block;
}
.bottom_banner_wrap.type2 img {
  max-width: 100% !important;
  width: auto !important;
  display: inline !important;
}

.primary_screen_container {
  max-width: 898px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
  line-height: 0;
  text-align: center;
  padding: 1.302vw 0 10.625vw;
  img {
    vertical-align: top;
  }
}
.primary_label {
  display: block;
  max-width: 25.469vw;
  margin: 0 auto;
}
.primary_screen {
  display: block;
  margin-top: 34px;
}
.primary_open_obj {
}
.primary_screen_container {
}
.pscreen_flex {
  display: flex;
  justify-content: center;
}
.pscreen_shot {
  flex: 0 0 11.979vw;
  padding-top: 2.344vw;
}
.pscreen_long {
  flex: 0 0 46.771vw;
  margin: 0 4.557vw;
}

.player_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.player_layer.active {
  display: flex !important;
}
.player_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #000;
  opacity: 0.81;
}

.player_iframe_wrap {
  background: #71777c;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 0;
  padding-bottom: 56.18181818181818%;
  iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }
}
.player_container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
}
.player_main {
  flex: 0 0 1100px;
  position: relative;
  margin: 0 1.563vw;
}
.player_short {
  flex: 0 0 60px;
}
.btn_player_close {
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/btn_screen_layer_close.png") no-repeat 0 0/100%
    auto;
}

.mb_media_item {
  position: relative;
  // height: calc(100vh - 93px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  z-index: -1;

  // 배경 비디오
  .background-video {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 639px !important;
    }

    // 재생버튼
    .play-button {
      width: 120px !important;
      height: 120px !important;
      transform: translateY(-270px);
    }

    // 상위 이미지가 화면 너비와 같으면 재생버튼 반응형 처리
    @media (max-width: 679px) {
      img {
        width: 90vw !important;
      }
      .play-button {
        width: 17vw !important;
        height: 17vw !important;
        transform: translateY(-37.8vw);
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    img {
      height: 27.3vw;
    }
  }
}
.mb_media_item img {
  // vertical-align: top;
}

.primary_mb_item {
  padding: 8.667vw 2.667vw 36vw;
}
.has_tongimg {
  font-size: 0;
  line-height: 0;
  img {
    width: 100% !important;
  }
}
.primary_mb_screen {
  display: block;
  margin-top: 3.2vw;
}
.pc_tongimg_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  padding: 67px 30px;
}
.pc_tongimg_wrap.type3 {
  align-items: center;
}
.pc_tongimg_wrap.type2 {
  align-items: flex-start;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  padding: 0 30px 80px;
}
.pc_tongimg_wrap img {
  vertical-align: top;
}

.pc_media_item {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    .text {
      margin-bottom: 20px;
    }
  }

  .bottom {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
  }
}
.pc_media_item img {
  vertical-align: top;
}

.define_primary .pc_tongimg_wrap {
  min-height: 750px;
}
.define_mv01 .pc_tongimg_wrap {
  min-height: 890px;
}
.define_mv02 .pc_tongimg_wrap {
  min-height: 890px;
}
.define_mv03 .pc_tongimg_wrap {
  min-height: 890px;
}
.define_mv04 .pc_tongimg_wrap {
  min-height: 890px;
}
.define_mv05 .pc_tongimg_wrap {
  min-height: 890px;
}
.btn_media_play {
  display: block;
  position: absolute;
  bottom: 11.59638554216867%;
  left: 41.59420289855072%;
  width: 16.23188405797101%;
  height: 16.86746987951807%;
}

.get_data_zone {
}
.get_data_zone .bottom_quick_zone .copy_group {
  padding-top: 90px;
}
.get_newsdata_wrap {
  .copy_group {
  }
  .copy_main {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.38);
    font-size: 39px;
  }
  .copy_color01 {
    color: #b6e8f7;
  }
  .copy_main strong {
    color: #dbcf43;
  }
}
.bottom_quick_zone {
  .copy_main {
    font-size: 28px;
  }
  .copy_main strong {
    color: #e3e1c0;
  }
}
.get_newsdata_list_wrap {
  max-width: 1000px;
  margin: 0 auto;
}
.get_newdata_list {
  display: flex;
  justify-content: center;
  margin: 0 -40px;
}
.get_newdata_list > li {
  margin: 0 40px;
  flex: 1;
}
.get_newdata_list > li:last-of-type {
}
.data_get_box {
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.39);
  position: relative;
  min-height: 58px;
  padding: 35px 35px;
  // &:after{display:block;content:'';position:absolute;bottom:-2px;right:-2px;width:59px;height:58px;background:url("../images/news_line.png") no-repeat 0 0/100% auto;}
}
.data_get_category {
}
.data_get_category_text {
}
.data_get_text {
  color: #fff;
  word-break: break-all;
  height: 104px;
  overflow: hidden;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}
.data_get_btn {
  margin-top: 65px;
}
.btn_golink {
  display: inline-flex;
  align-items: center;
}
.btn_golink:after {
  display: block;
  content: "";
  flex: 0 0 52px;
  height: 14px;
  background: url("../images/ico_allow_news.png") no-repeat 0 0/100% auto;
  width: 52px;
}
.golink_text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 1650px) {
  .primary_header_wrap {
    max-width: 100%;
    .gnbmenu_list_wrap {
      margin: 0 -40px;
    }
  }
  .toplogo_primary {
    left: 0;
    flex-basis: 180px;
  }
  .gnbmenu_ad_banner {
    left: 0;
    flex-basis: 180px;
  }
}

@media (max-width: 1279px) {
  .gnbmenu_list_wrap .gnbmenu_list > li:after {
    display: none;
  }
  .primary_screen_container {
    padding-top: 3vw;
  }
  .toplogo_primary {
    left: 0;
    flex-basis: 140px;
  }
  .toplogo_primary_item {
    transform: scale(0.8);
    position: relative;
    left: 15px;
  }
  .gnbmenu_ad_banner {
    display: none;
  }

  .ad_banner_group {
    padding-right: 30px;
  }
  .ad_banner_main {
    font-size: 14px;
  }
  .toplogo_primary_item {
    left: 5px;
  }
  .primary_header_wrap {
    .gnbmenu_list_wrap {
      margin: 0 -22px 0 -40px;
    }
  }
  // .primary_header_wrap{
  //     .gnbmenu_list_wrap{margin-right:-22px;}
  // }
}
@media (max-width: 1023px) {
  .multi_top_zone.main_type {
    border-radius: 0 0 15px 15px;
  }
  .primary_header_wrap {
    border-radius: 0 0 15px 15px;
    padding: 15px 30px 0;
  }
  .main_vitem {
    &:before,
    &:after {
      display: none;
    }

    &.define_primary {
      // background: url("../images/bg_main_mv_mb.png") no-repeat 0 0/100% auto;
    }
  }
  .bottom_banner_wrap {
    padding: 0;
  }

  .player_layer {
    box-sizing: border-box;
    padding: 20px;
  }
  .player_container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    .player_short:first-child {
      display: none;
    }
    .player_short {
      flex: 0 0 30px;
    }
  }
  .btn_player_close {
    position: absolute;
    top: -40px;
    right: 0;
    width: 30px;
    height: 30px;
  }
  .player_main {
    margin: 0;
  }
  .bottom_long_banner {
    display: block;
  }
  .bottom_long_banner img {
    width: 100%;
  }

  .get_newdata_list {
    display: block;
    margin: 0 57px;
  }
  .get_newdata_list > li {
    margin: 0 0 -2px 0;
  }
  .get_newdata_list > li:last-of-type {
  }
  .data_get_box {
    display: block;
    padding: 15px 25px;
    // &:after{display:block;content:'';position:absolute;bottom:-2px;right:-2px;width:59px;height:58px;background:url("../images/news_line.png") no-repeat 0 0/100% auto;}
  }
  .data_get_category {
  }
  .data_get_category:before {
    width: 6px;
    height: 6px;
  }
  .data_get_category_text {
    font-size: 12px;
  }
  .data_get_text {
    font-size: 17px;
    margin-top: 10px;
    height: auto;
  }
  .data_get_btn {
    margin-top: 32px;
  }
  .btn_golink:after {
    display: block;
    content: "";
    flex: 0 0 40px;
    height: 10px;
    background: url("../images/new_line_mb.png") no-repeat 0 0/100% auto;
    width: 40px;
  }
  .golink_text {
    font-size: 11px;
    margin-right: 10px;
  }

  .get_data_zone .bottom_quick_zone .copy_group {
  }
  .get_data_zone .copy_main .middot {
    display: none;
  } // 점 없애기
  .get_data_zone .copy_main .mobile {
    display: block !important;
  } // 개행
  .main_type .gnbmenu_list_wrap .gnbmenu_list > li:after {
    display: none;
  }

  .toplogo_primary_item > img {
    max-width: 100%;
  }
  .toplogo_primary_item {
    transform: scale(1);
    position: relative;
    left: 0;
    max-width: 80px;
    margin: 0 auto;
  }
  .primary_header_wrap {
    display: block;
    background: #2d70f0;
    border-radius: 0 0 15px 15px;
    width: auto;
    position: relative;
    display: block;
    padding: 15px 0 0;
    .gnbmenu_list_wrap {
      margin: 15px 0 0 0;
    }
  }
  .toplogo_primary {
    background: none;
    margin: 0;
    height: auto;
  }
  .toplogo_primary:after {
    display: none;
  }

  .toplogo_primary {
  }

  .get_newsdata_wrap .copy_main {
    font-size: 26px;
  }
  .bottom_quick_zone .copy_main {
    font-size: 19px;
  }
}

@media (min-width: 1921px) {
  .toplogo_primary {
    &:after {
      width: 200px;
    }
  }
  .gnbmenu_ad_banner {
    &:after {
      width: 200px;
    }
  }
  .pscreen_flex {
    max-width: 1920px;
    margin: 0 auto;
  }
  .pscreen_shot {
    flex: 0 0 230px;
    padding-top: 46px;
  }
  .pscreen_long {
    flex: 0 0 898px;
    margin: 0 85px;
  }
}
