/* 간편가입 약관동의 */
.signup-01 {
  // background: #6573dc;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .step {
    width: 460px;
    height: 110px;
    margin-top: 50px;
  }

  & > .intro {
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;

    & > .text {
      width: 300px;
      height: 120px;
    }
    /* 캐릭터 이미지 */
    & > .image {
      position: absolute;
      width: 140px;
      height: 120px;
      top: 0;
      right: 0;
      transform: translateX(100%);
    }
  }

  & > .contents {
    width: 680px;
    height: 573px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .title {
      margin-top: 50px;
      font-size: 24px;
      font-weight: bold;
    }

    /* 내부 박스 */
    & > .inner-box {
      margin-top: 40px;
      width: 560px;
      text-align: left;

      /* 동의 항목 */
      & > article {
        width: 100%;
        margin-bottom: 20px;
        position: relative;

        & > label {
          font-size: 18px;
          line-height: 27px;
          font-weight: bold;

          &.all {
            font-size: 20px;
          }

          & > span {
            color: #521de2;
          }
        }
        & > .icon_more {
          position: absolute;
          right: 0;
          cursor: pointer;
        }

        /* 항목 설명 */
        & > .description {
          width: 530px;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.4px;
          margin-left: 30px;
          margin-top: 16px;
        }

        & > .line {
          border-bottom: 2px solid #dedede;
          margin-top: 30px;
        }
      }
    }

    /* 다음 버튼 */
    & > .next {
      width: 276px;
      height: 60px;
      border-radius: 30px;
      background-color: #dedede;
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  /* 체크박스 설정 */
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-image: url("../images/signup/ico_check_d.svg");
  }
  input[type="checkbox"]:checked + label {
    background-image: url("../images/signup/ico_check_d_checked.svg");
  }
}

/* 간편가입 정보입력 */
.signup-02 {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .step {
    width: 460px;
    height: 110px;
    margin-top: 50px;
  }

  & > .contents {
    width: 820px;
    // height: 612px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    /* 등록 폼 */
    & > form {
      padding: 50px 58px;

      /* 폼 타이틀 */
      & > .title {
        font-size: 18px;
        line-height: 18px;
        display: flex;
        margin-bottom: 24px;

        & > span {
          margin-left: 6px;
        }
      }

      /* 입력 항목 */
      article {
        margin-bottom: 20px;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          label {
            font-size: 16px;
            line-height: 27px;
            // width: 140px;
          }

          input {
            height: 46px;
            border: 1px solid #cecece;
            border-radius: 8px;
            text-indent: 20px;
          }

          .item {
            width: 564px;
            height: 46px;
            display: flex;
            gap: 6px;
          }

          select {
            width: 100%;
            color: #3a3b50;
            border: 1px solid #d9d9d9;
            font-size: 14px;
            height: 46px;
            padding: 0 32px 0 16px;
            box-sizing: border-box;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            font-family: "Pretendard";
            background: #fff url("../images/ico_select.png") no-repeat 100% 50%/27.5px
              auto;
            line-height: 28px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &::-ms-value {
              background: none;
              color: #222;
            }
            &::-ms-expand {
              display: none;
            }
            &::-ms-value {
              background: none;
              color: #2b2b2b;
            }
            &.ready {
              color: #999;
            }
            &:disabled {
              background-color: #f7f7f7;
              color: #999999;
              opacity: 1;
            }
          }
        }

        span.error {
          font-size: 16px;
          line-height: 26px;
          color: #e51f3f;
          margin-left: 140px;

          &.hide {
            display: none;
          }
        }
      }

      /* 버튼 섹션 */
      & > .button-section {
        display: flex;
        justify-content: center;
        gap: 12px;

        & > .btn {
          width: 276px;
          height: 60px;
          border-radius: 30px;
          color: white;
          font-size: 20px;
          font-weight: bold;
          margin-top: 10px;

          &.cancel {
            background-color: #828282;
          }

          &.register {
            background-color: #5918eb;
          }
        }
      }
    }
  }
}

/* 간편가입 가입완료 */
.signup-03 {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .logo {
    width: 220px;
    height: 68px;
    margin-top: 130px;

    img {
      width: 220px;
      min-width: 220px;
      height: 68px;
    }
  }

  & > .step {
    width: 460px;
    height: 110px;
    margin-top: 50px;
  }

  & > .intro {
    margin-top: 55px;
    & > .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > .primary {
        font-size: 35px;
        font-weight: bold;
      }
      & > .secondary {
        font-size: 22px;
        margin-top: 8px;
      }
    }
    & > .image {
      margin-top: 16px;
      width: 273px;
      height: 210px;
    }
  }

  & > .contents {
    width: 564px;
    padding: 40px 0;
    background-color: #f2f9ff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > div {
      padding: 0 86px;
      display: flex;
      justify-content: space-between;

      & > span {
        font-size: 20px;

        &.email,
        &.child-name {
          font-weight: bold;
          color: #5918eb;
        }
      }
    }
  }

  /* 버튼 섹션 */
  & > .button-section {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
    margin-bottom: 100px;

    .btn {
      width: 276px;
      height: 60px;
      border-radius: 30px;
      color: white;
      font-size: 20px;
      font-weight: bold;

      &.main {
        background-color: #828282;
      }

      &.next {
        background-color: #5918eb;
      }
    }
  }
}

.event_zone img {
  vertical-align: top;
  max-width: inherit;
  width: 100%;
}

.event_pc_img {
  background: url("../images/event_top.jpg") no-repeat 50% 0;
  height: 1575px;
  position: relative;
  .btn_share {
    position: absolute;
    top: 1042px;
    left: 50%;
    width: 360px;
    height: 92px;
    transform: translateX(-50%);
  }
}
.event_mb_img {
  display: none;
  position: relative;
  img {
    width: 100%;
  }
  .btn_share {
    position: absolute;
    top: 64.31663574520717%;
    left: 50%;
    width: 37.5%;
    height: 5.81323438466296%;
    transform: translateX(-50%);
  }
}

.pc_item {
  display: block !important;
}
.mb_item {
  display: none !important;
}

.etab_g {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  > .etab {
    flex: 0 0 50%;
  }
  img {
  }
}

.btn_event_submit {
  text-align: center;
  display: block;
  max-width: 930px;
  margin: 0 auto;
  img {
  }
}
.btn_event_submit {
}

.layer_obj {
  text-align: center;
  position: relative;
  top: -86px;
  img {
    width: auto !important;
  }
}

.event_box {
  max-width: 1200px;
  margin: auto;
  background-color: #f4f4f4;
  border-radius: 0 0 60px 60px;
  overflow: hidden;
  padding-bottom: 75px;
  box-shadow: 5.2px 22.4px 29px 0 rgb(0 0 0 / 40%);

  img {
    width: 100%;
  }

  &.type2 {
    background: #fff;
    margin-top: 122px;
    overflow: visible;
    border-radius: 60px;
    padding-bottom: 60px;
  }
}

.btn_reply_wrap {
  text-align: center;
  margin-top: -60px;
  .btn_reply {
    display: inline-block;
    img {
      width: auto;
    }
  }
}

.mb_coffee_wrap {
  position: relative;
}
.btn_reply_mb {
  position: absolute;
  top: 76.1609907120743%;
  left: 22%;
  width: 55.55555555555556%;
  height: 13.93188854489164%;
}

.banner_floating_wrap {
  padding: 60px 30px;
  text-align: center;
}
.banner_floating {
  display: inline-block;
}

.pc_img {
  display: inline-block !important;
}
.mb_img {
  display: none !important;
}

.paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
}

.paging button {
  width: 80px;
  height: 46px;
  display: inline-block;
}

.paging .prev {
  background: url("../images/btn_arrow_l@2x.png") no-repeat;
  display: inline-block;
  width: 80px;
  height: 46px;
  background-size: 100%;
}

.paging .next {
  background: url("../images/btn_arrow_r@2x.png") no-repeat;
  display: inline-block;
  width: 80px;
  height: 46px;
  background-size: 100%;
}

.paging p {
  margin: 0 40px;
  letter-spacing: -0.9px;
}

.paging p span {
  font-weight: 700;
}

.getdata_zone {
  img {
    max-width: 100%;
    width: auto;
  }
}

.getdata_zone {
  padding: 80px 100px 0;
}
.getdata_title_fxwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
  padding-bottom: 12px;
}
.getdata_title_cell {
}
.getdata_title {
  display: inline-flex;
  align-items: center;
}
.getdat_text {
  font-size: 30px;
  line-height: 1;
  color: #292929;
  font-weight: 700;
}
.getdata_title:after {
  display: block;
  content: "";
  vertical-align: middle;
  width: 38px;
  height: 38px;
  background: url("../images/event_list_title.png") no-repeat 0 0;
}
.getdata_else_cell {
}
.count_current_para {
  font-size: 20px;
  color: #292929;
  line-height: 1;
}
.count_current_para strong {
  font-weight: 700;
}
.getdata_content_wrap {
}
.chathum_list {
  border-bottom: 1px solid #dddddd;
  padding: 40px 0;
  margin-bottom: 30px;
}
.chathum_list > li {
  margin-bottom: 15px;
}
.chathum_list > li:last-of-type {
  margin-bottom: 0;
}
.chathum_item {
  display: flex;
  align-items: center;
}
.chathum_img {
  width: 80px;
  flex: 0 0 80px;
}
.chathum_img .thum {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #e2e2e2;
}
.chathum_img .thum img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
}
.chathum_main {
  flex: 1;
  min-width: 0;
  padding: 0 0 0 26px;
}
.clamp_data {
  font-size: 20px;
  color: #292929;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 500;
  overflow: hidden;
  line-height: 1.3;
}
.chathum_else {
  flex: 0;
  margin-left: 30px;
}
.chat_men {
  font-size: 20px;
  color: #292929;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  font-weight: 700;
}
.mb_bottom_box {
  display: none;
  > img {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .event_mb_img {
    display: block;
  }
  .event_pc_img {
    display: none;
  }
  .pc_item {
    display: none !important;
  }
  .mb_item {
    display: block !important;
  }
  .event_box {
    border-radius: 0;
    padding-bottom: 0;
  }

  .event_box {
    &.type2 {
      margin-top: 0;
      border-radius: 0;
      padding-bottom: 30px;
    }
  }

  .pc_img {
    display: none !important;
  }
  .mb_img {
    display: inline-block !important;
  }
  .banner_floating_wrap {
    padding: 0;
  }
  .banner_floating {
    width: 100%;
    display: block;
  }
  .banner_floating img {
    width: 100%;
  }

  .getdata_zone {
    padding: 3.472vw 14vw 0;
    background: url("../images/bg_mobile_coffee.jpg") repeat-y 0 0/100% auto;
  }
  .getdata_title_fxwrap {
    display: block;
    border-bottom: 0;
    padding-bottom: 15px;
  }
  .getdat_text {
    font-size: 20px;
  }
  .getdata_title:after {
    width: 20px;
    height: 20px;
    background-size: 100% auto;
  }
  .getdata_title_cell {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
  }
  .getdata_else_cell {
    margin-top: 15px;
  }
  .count_current_para {
    font-size: 15px;
  }
  .getdata_content_wrap {
  }
  .chathum_list {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  .chathum_list > li {
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
  }
  .chathum_list > li:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
  }
  .chathum_item {
    position: relative;
    padding: 10px 0 0 40px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .chathum_img {
    width: 33px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .chathum_img .thum {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #e2e2e2;
  }
  .chathum_img .thum img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .chathum_main {
    padding: 0;
    width: 100%;
    flex: 0 0 100%;
  }
  .clamp_data {
    font-size: 15px;
  }
  .chathum_else {
    flex: 0 0 100%;
    margin-left: 0;
    width: 100%;
  }
  .chat_men {
    font-size: 13px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 1.3;
  }

  .paging p {
    margin: 0 20px;
    letter-spacing: -0.9px;
  }

  .paging .prev {
    background: url("../images/btn_arrow_mb_prev.png") no-repeat 50% 50%/100%
      auto;
  }
  .paging .next {
    background: url("../images/btn_arrow_mb_next.png") no-repeat 50% 50%/100%
      auto;
  }
  .paging .prev,
  .paging .next {
    width: 65px;
    height: 36.5px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
  }

  .mb_bottom_box {
    display: block;
  }
}
