<div class="bottom_quick_zone">
  <div class="pix_inner">
    <div class="copy_group">
      <p class="copy_main">
        더 높고 특별한 가치를<br class="mb_item" />
        우리 아이에게!<br /><strong>콘텐츠의 격차</strong>를 지금 확인하세요
      </p>
    </div>
    <div class="bottom_quick_list_wrap">
      <ul class="bottom_quick_list">
        <li>
          <a href="page_sub_01.html" class="bottom_quick_banner">
            <div class="bottom_quick_copy_group">
              <div class="bottom_quick_copy_label">바이링구얼로 크는</div>
              <div class="bottom_quick_copy_main">영어</div>
            </div>
            <div class="bottom_quick_cha_group">
              <img src="./images/cha_footer_01.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a href="page_sub_02.html" class="bottom_quick_banner">
            <div class="bottom_quick_copy_group">
              <div class="bottom_quick_copy_label">업계최대 영어도서관</div>
              <div class="bottom_quick_copy_main">슈퍼리딩</div>
            </div>
            <div class="bottom_quick_cha_group">
              <img src="./images/cha_footer_02.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a href="page_sub_03.html" class="bottom_quick_banner">
            <div class="bottom_quick_copy_group">
              <div class="bottom_quick_copy_label">1:1 영어 전담 케어</div>
              <div class="bottom_quick_copy_main">영어특별반</div>
            </div>
            <div class="bottom_quick_cha_group">
              <img src="./images/cha_footer_03.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a href="page_sub_04.html" class="bottom_quick_banner">
            <div class="bottom_quick_copy_group">
              <div class="bottom_quick_copy_label">사고력과 두뇌개발</div>
              <div class="bottom_quick_copy_main">수학</div>
            </div>
            <div class="bottom_quick_cha_group">
              <img src="./images/cha_footer_04.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a href="page_sub_05.html" class="bottom_quick_banner">
            <div class="bottom_quick_copy_group">
              <div class="bottom_quick_copy_label">창의력과 상상력</div>
              <div class="bottom_quick_copy_main">한글·국어</div>
            </div>
            <div class="bottom_quick_cha_group">
              <img src="./images/cha_footer_05.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a href="page_sub_06.html" class="bottom_quick_banner else">
            <div class="bottom_quick_copy_group">
              <div class="bottom_quick_copy_main">슈키&이비를<br />만나다</div>
            </div>
            <div class="bottom_quick_cha_group else">
              <img src="./images/cha_footer_06.png" class="pc_img" alt="" />
              <img src="./images/cha_footer_06_mb.png" class="mb_img" alt="" />
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
