<!-- 221102 gnb 변경 -->
<div class="gnbmenu_list_wrap">
  <ul class="gnbmenu_list">
    <li>
      <a href="page_sub_01.html" class="gnbmenu menu_01">
        <div class="gnbmenu_label">바이링구얼로 크는</div>
        <div class="gnbmenu_main">영어</div>
        <div class="hover_bg"></div>
      </a>
    </li>
    <li>
      <a href="page_sub_02.html" class="gnbmenu menu_02">
        <div class="gnbmenu_label">업계최대 영어도서관</div>
        <div class="gnbmenu_main">슈퍼리딩</div>
        <div class="hover_bg"></div>
      </a>
    </li>
    <li>
      <a href="page_sub_03.html" class="gnbmenu menu_03">
        <div class="gnbmenu_label">1:1 영어 전담 케어</div>
        <div class="gnbmenu_main">영어특별반</div>
        <div class="hover_bg"></div>
      </a>
    </li>
    <li>
      <a href="page_sub_04.html" class="gnbmenu menu_04">
        <div class="gnbmenu_label">사고력과 두뇌개발</div>
        <div class="gnbmenu_main">수학</div>
        <div class="hover_bg"></div>
      </a>
    </li>
    <li>
      <a href="page_sub_05.html" class="gnbmenu menu_05">
        <div class="gnbmenu_label">창의력과 상상력</div>
        <div class="gnbmenu_main">
          <span class="pc_menu">한글 &middot; 국어</span>
          <span class="mb_menu">한글</span>
        </div>
        <div class="hover_bg"></div>
      </a>
    </li>
    <li>
      <a href="../product/product.html" class="gnbmenu menu_06">
        <div class="gnbmenu_main">
          <span class="pc_menu">슈키&이비를<br />만나다</span>
          <span class="mb_menu">상품소개</span>
        </div>
        <div class="hover_bg"></div>
      </a>
    </li>
  </ul>
  <div class="gnbmenu_hover_bg"></div>
</div>
<!-- // 221102 gnb 변경 -->
